build-docker-image:
  image: docker:26.1.3
  stage: build
  services:
    - docker:26.1.3-dind
  rules:
    - if: $CI_COMMIT_TAG =~ /.+/
      variables:
        VID: $CI_COMMIT_TAG
    - when: manual
      variables:
        VID_ALT: $CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA
        VID: snapshot
  cache:
    key: conllu-treetagger 
    paths:
      - cache/
  before_script:
    - mkdir -p cache
    - apk update
    - apk add --no-cache bash make xz
  script:
    - make build-docker
    - docker save korap/conllu-treetagger | xz -T0 > conllu-treetagger.xz
  artifacts:
    paths:
      - conllu-treetagger.xz
