stages:
  - build
  - deploy

build-docker-image:
  image: docker:latest
  stage: build
  variables:
    FF_NETWORK_PER_BUILD: "true"
  services:
    - name: docker:dind
      alias: docker
      command: ["--dns=127.0.0.11", "--dns=8.8.8.8"]
  rules:
    - if: $CI_COMMIT_TAG =~ /.+/
      variables:
        VID: $CI_COMMIT_TAG
    - when: manual
      variables:
        VID_ALT: $CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA
        VID: snapshot
  cache:
    key: conllu-treetagger 
    paths:
      - cache/
  before_script:
    - mkdir -p cache
    - apk update
    - apk add --no-cache bash make xz
  script:
    - make build-docker
    - docker save korap/conllu-treetagger | xz -T0 > conllu-treetagger.xz
  artifacts:
    paths:
      - conllu-treetagger.xz

deploy-to-docker-hub:
  image: docker:latest
  stage: deploy
  variables:
    FF_NETWORK_PER_BUILD: "true"
  services:
    - name: docker:dind
      alias: docker
      command: ["--dns=127.0.0.11", "--dns=8.8.8.8"]
  rules:
    - if: $CI_COMMIT_TAG =~ /.+/
    - when: manual
  dependencies:
    - build-docker-image
  before_script:
    - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - xz -d -c conllu-treetagger.xz | docker load
    - docker push --all-tags korap/conllu-treetagger
