build-docker-image:
  image: docker:24.0.7
  stage: build
  services:
    - docker:24.0.7-dind
  rules:
    - if: $CI_COMMIT_TAG =~ /.+/
      variables:
        VID: $CI_COMMIT_TAG
    - when: manual
      variables:
        VID_ALT: $CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA
        VID: snapshot
  cache:
    key: conllu2treetagger 
    paths:
      - cache/
  before_script:
    - mkdir -p cache
    - apk update
    - apk add --no-cache bash make xz
  script:
    - make build
    - docker save korap/conllu2treetagger | xz -T0 > conllu2treetagger.xz
  artifacts:
    paths:
      - conllu2treetagger.xz
